<div class="position-sticky">
    <ul class="nav flex-column">
      <title>{{title}}</title>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="products/">
        Shop
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="products/add-product">
        Ürün Ekle / Klasik Form
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="products/add-product">
        Ürün Ekle / Reactive Form
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="products/delete-product">
        Ürün Sil
        </a>
      </li>
     
      
    </ul>
  </div>
